/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap'); */
*{
  margin:0;
  padding:0;
  outline:0;
  box-sizing:border-box;
  text-decoration: none;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}


/* variables */
:root{
  --mainOrange:#F8951D;
  --lightOrange:#FFFAF4;
  --mainGrey:#F2F2F2;
  --fontColor:#4D4D4D;
  --mainBlack:#0F0F0F;
  --mainPurple:#0A014F;
}


@keyframes slideIn {
  0% {
    transform: translateX(150px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(-100px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(700px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1500px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes expandLeft {
  0% {
    transform: translateX(-1500px);
  }
  100% {
    transform: translateX(0px);
  }
}

p{
font-size: 16px;
line-height: 28px;
}

h1{
  font-size: 48px;
  line-height: 64px;  
}

h2{
  font-size: 32px;
  line-height: 48px;  
}

h3{
  font-size: 24px;
  line-height: 32px;  
}

button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 10px;
gap: 10px;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;
border: 0;
width: 172px;
height: 48px;
background: #F8951D;
position: relative;
transition-duration: 0.4s;
overflow: hidden;
/* box-shadow: 0 5px 15px #193047; */
box-shadow: 0px 5px 15px rgba(210, 152, 0, 0.15);
}


button:hover {
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 2px 10px 5px #F8951D;
  color: #000;
}

button:after {
  content: "";
  background: #F8951D;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

button:focus { outline:0; }



